
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<section id="buy-tickets" class="section-with-bg wow fadeInUp">
    <div class="container">

        <div class="section-header">
            <h2>Login</h2>
            <p>Enter your username and password.</p>
        </div>

        <div class="row justify-content-md-center">
            <div class="col-lg-8">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <div class="form">
                            <form action="" method="post" role="form" class="contactForm">
                                <div class="form-group">
                                    <label for="email">Username</label>
                                    <input type="email" id="email" class="form-control" aria-describedby="usernameHelpBlock">
                                    <small id="usernameHelpBlock" class="form-text text-muted">
                                        Your Email.
                                    </small>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword">Password</label>
                                    <input type="password" id="inputPassword" class="form-control" aria-describedby="passwordHelpBlock">
                                    <small id="passwordHelpBlock" class="form-text text-muted">
                                        Your password.
                                    </small>
                                </div>
                                <hr>
                                <div class="text-center">
                                    <button type="submit" class="btn">Sign In</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
