
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<section id="buy-tickets" class="section-with-bg wow fadeInUp">
    <div class="container">

        <div class="section-header">
            <h2>Search</h2>
            <p>Find your favourite anime or manga here</p>
        </div>
        <div class="row justify-content-md-center">
            <div class="col-lg-8">
                <div class="card mb-5 mb-lg-0">
                    <div class="card-body">
                        <div class="form">
                            @using (Html.BeginForm("Result", "Search", FormMethod.Post))
                            {
                                <form action="" method="post" role="form" class="contactForm">
                                    <div class="form-group">
                                        <label for="search_type">Type</label>
                                        <select class="form-control" aria-describedby="typeHelpBlock" name ="type" id="search_type" required>
                                            <option value="">Choose...</option>
                                            <option>Anime</option>
                                            <option>Manga</option>
                                        </select>
                                        <small id="typeHelpBlock" class="form-text text-muted">
                                            Select a Type
                                        </small>
                                    </div>
                                    <div class="form-group">
                                        <label for="search_box">Search Keyword</label>
                                        <input type="text" id="search_box" class="form-control" name="keyword" aria-describedby="searchHelpBlock" required>
                                        <small id="searchHelpBlock" class="form-text text-muted">
                                            Search Anime or Manga
                                        </small>
                                    </div>
                                    <hr>
                                    <div class="text-center">
                                        <button type="submit" class="btn">Search</button>
                                    </div>
                                </form>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

